/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
html{
  height: 100%;
  background: #444;
  background-image: radial-gradient(circle at top, #182222 65%,transparent ), linear-gradient(#182222, #081111);

}
body {
  background: none;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
    overflow: hidden;

}